.modal-dialog {
  --bs-modal-border-radius: 0;
  .modal-header {
    --bs-modal-header-padding: 0.3rem;
    .btn-close {
      font-size: small;
      margin-right: 5px;
    }

    .modal-title {
      font-size: 1rem;
    }
  }
}
